<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/verifier.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>