/*  Colors:  */
#goal-list {
  text-align: center;
  margin: 40px 0; }
  #goal-list ul, #goal-list h2, #goal-list .showListButton {
    display: inline-block;
    vertical-align: top;
    font: bold 1.2em "Trebuchet MS", Tahoma, Geneva, sans-serif;
    box-sizing: border-box; }
  #goal-list h2 {
    padding: 8px;
    border-radius: 7px 0 0 7px;
    height: 2.1em;
    border: 1px solid #ccc;
    border-right: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }
  #goal-list ul {
    width: 350px; }
  #goal-list .showListButton {
    width: 40px;
    border: 1px solid #ccc;
    border-left: none;
    padding: 8px;
    border-radius: 0 7px 7px 0;
    height: 2.1em;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }
  #goal-list li {
    text-align: left;
    height: 2.1em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.2), -2px 0 2px -2px rgba(0, 0, 0, 0.2); }
  #goal-list li:last-child {
    border-radius: 0 0 7px 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2); }
  #goal-list li:first-child {
    border-top: 1px solid #ccc;
    box-shadow: 0 0; }
  #goal-list li.current {
    background-color: #eee; }
  #goal-list input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0; }
  #goal-list ul.hidden li {
    display: none; }
  #goal-list ul.hidden li.current {
    display: block;
    border-top: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2);
    border-radius: 0; }
  #goal-list span {
    font-size: 1.3em; }
  #goal-list ul.hidden + div > span {
    display: inline-block;
    transform: rotateX(180deg);
    position: relative;
    top: -5px; }
  #goal-list label {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
    box-sizing: border-box; }
