@import './variables.scss';

#goal-list {
  margin: 40px 0;
  position: relative;
  height: 2.8rem;
  width: 90%;
  ul, .showListButton {
    display: inline-block;
    vertical-align: top;
    font: bold $h2-size $fancy-family;
    box-sizing: border-box;
  }
  ul {
    position: absolute;

    top: 0;
    left: 0;
    width:90%;
    box-shadow: $smallshadow;
    background-color: #fff;
  }
  .showListButton {
    width: 10%;
    border: 1px solid #ccc;
    border-radius: 100%;
    padding: 8px;
    height: 2.8rem;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: $smallshadow;
  }
  li {
    
    border-top: 1px solid #ccc;
  }
  li:first-child {
    border: none;
  }
  input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
  }
  label, a {
    display: block;
    text-align: left;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 12px;
    box-sizing: border-box;
  }
  ul.hidden {
    border-bottom-right-radius: 0;
    li {
      display: none;
      border: none;
    }
    li.current {
      display: block;
    }
  }
  span {
    font-size: 1.3em;
  }
  ul.hidden + div > span {
    display: inline-block;
    transform: rotateX(180deg);
    position: relative;
    top: -5px;
  }
}
