@import './variables.scss';

header.quiz > * {
  display: inline-block;
  margin: 0 6%;
  vertical-align: bottom;
}

#keyboard {
  position: relative;
  max-width: 380px;
  height: 200px;
  margin: 0 auto;
}

#answers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
}

.answer-button {
  width: 100%;
  height: 100%;
  background-color: #fffffc;
  text-align: center;
  position: relative;
  border: 1px solid #888;
  z-index: 1;
  border-radius: 0 0 5px 5px;
  box-shadow: $smallshadow;
  span {
    position: absolute;
    bottom: 30px;
    margin-left: -.5em;
    font: bold italic 18px Palatino;
  }
}

.answer-button:active {
  background-color: #eae8de;
}

.black-key{
    position: absolute;
    top: 0;
    width: 7.5%;
    height: 57%;
    background-color: #000;
    z-index: 2;
    padding: 0 3px 1px;
    box-sizing: border-box;
    div:first-child {
      margin-bottom: 15%;
      height: 84%;
      background: linear-gradient(#000, #222);
      border-radius: 0 0 8px 8px;
    }
    div:last-child {
      height: 12%;
      background: #222;
      border-radius: 8px 8px 0 0;
    }
}

#black-key1 {
  left: 10.71%;
}

#black-key2 {
  left: 25%;
}

#black-key3 {
  left: 53.55%;
}

#black-key4 {
  left: 67.83%;
}

#black-key5 {
  left: 82.1%;
}
