#staff {
  position: relative;
  height: 19em;
  margin: 1em auto;
}

.note {
  width: 3em;
  height: 2em;
  background-color: #222;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  position: absolute;
}

.selected {
  background-color: red;
}

.lines {
  position: absolute;
  bottom: 4.97em;
}

.lines > div {
  width: 20em;
  height: 2em;
  border-bottom: 1px solid #444;
  box-sizing: border-box;
}

#trebleclef {
  height: 16rem;
  z-index: 0;
  position: absolute;
  top: -4rem;
  left: .5rem;
}

#bassclef {
  height: 7rem;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 1rem;
}
