.staff-wrapper {
  height: 19em;
  margin: 1em auto;
  width: 100%;
}

.staff-lines {
  position: relative;
  top: 4em;
}

.line {
  width: 100%;
  height: 2em;
  border-bottom: 1px solid #222;
  box-sizing: border-box;
  z-index: 0;
}

.note {
  position: absolute;
  width: 2.7em;
  height: 2em;
  background-color: #222;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 2em;
  z-index: 1;
}

.selected {
  background-color: red;
}

.ledger {
  position: absolute;
  width: 3.9em;
  height: 1em;
  z-index: -1;
  border-bottom: 1px solid #222;
  left: -0.6em;

  content: '';
}

.line-through {
  top: 0;
}

.line-below {
  top: 1em;
}

#trebleclef {
  height: 14.7em;
  z-index: -1;
  position: absolute;
  bottom: -3.6em;
  left: .5em;
}

#bassclef {
  height: 6.5em;
  z-index: -1;
  position: absolute;
  bottom: 1.45em;
  left: .8em;
}

